<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Villains Index</title>
</head>
<body>
    <h1>Movie Villains Index</h1>
    <nav>
        <a href="/movie-villains/new">
            Create New Villain
        </a>
    </nav>
    <ul>
        <% for (const villain of villains) { %>
            <li>
                <%= villain.villain %>
                is from the movie:
                <%= villain.movie %>
                <a href="/movie-villains/<%= villain.id %>">
                    View this Villain
                </a>
            </li>
        <% } // End villains loop. %>
    </ul>
</body>
</html>